{% extends 'base.html' %}
{% block body %}
<form action="/features" method="POST">
    <div class="container my-3">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Paste your link here:</label>
            <input type="text" class="form-control" name="review-link" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Paste the "all reviews" page link of the product that you will find on amazon</div>
        </div>

        <button id="submit-btn" type="submit" class="btn btn-outline-dark" style="display: inline;" onclick="document.getElementById('submit-loading').style.display='block'; 
            document.getElementById('submit-btn').style.display='none'
            document.getElementById('loading-alert').style.display='block'">
            Submit</button>
        <div id="submit-loading" class="spinner-border mb-3" style="width: 2rem; height: 2rem; display: none;"
            role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div id="loading-alert" class="alert alert-warning" role="alert" style="display:none; width:auto;">
            <h4 class="alert-heading">Hey!</h4>
            <p>The data is loading! it might take some time.</p>
            <hr>
            <p class="mb-0">Products with more reviews might take longer to load.</p>
        </div>

</form>
</div>



<div class="container my-3 mb-5">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">{{prod_name}}</th>
                <th scope="col">Values</th>
            </tr>
        </thead>

        <tbody>

            {% for key, value in features.items() %}


            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>


            {% endfor %}


        </tbody>
    </table>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 mb-5">
            <div id="container1"></div>
        </div>
        <div class="col-sm-6 col-md-6 mb-5">
            <div id="container2"></div>
        </div>

        <div class="row">
            <div id="container3" , style="height: 600px;"></div>
        </div>
    </div>

    <div class="container mx-auto my-3">
        <div class="row justify-content-md-center">
            <div class="col col-md-auto mb-1">
                <button type="button" class="btn btn-outline-success" onclick="document.getElementById('container4').style.display='block';
                document.getElementById('container5').style.display='none';
                document.getElementById('container6').style.display='none';">
                    Positive words
                </button>
            </div>
            <div class="col col-md-auto mb-1">
                <button type="button" class="btn btn-outline-secondary" onclick="document.getElementById('container6').style.display='block';
        document.getElementById('container4').style.display='none';
        document.getElementById('container5').style.display='none';">
                    Neutral words</button>
            </div>
            <div class="col col-md-auto mb-1">
                <button type="button" class="btn btn-outline-danger" onclick="document.getElementById('container5').style.display='block';
        document.getElementById('container4').style.display='none';
        document.getElementById('container6').style.display='none';">
                    Negative words</button>
            </div>
        </div>



    </div>
    <div class="container mb-5">
        <div id="container4" , style="height: 800px; display: none;"></div>
        <div id="container5" , style="height: 800px; display: none;"></div>
        <div id="container6" , style="height: 800px; display: none;"></div>

    </div>



    <!-- sentiment pie chart -->
    <script type="text/javascript">
        Highcharts.chart('container1', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Sentiment in reviews:'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Sentiments',
                colorByPoint: true,
                data: [{
                    name: 'Positive',
                    y: {{ features["Number of positive reviews"]}},
                sliced: true,
                selected: false
        }, {
            name: 'Neutral',
            y: {{ features["Number of neutral reviews"]}}
        }, {
                name: 'Negative',
                y: {{ features["Number of negative reviews"]}}
        }]
    }]
});



    </script>

    <!-- Ratings -->
    <script type="text/javascript">
        Highcharts.chart('container2', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: 'Ratings'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Ratings',
                data: [
                    ['1 star', {{ ratings[1.0]}}],
            ['2 stars', {{ ratings[2.0]}}],
            ['3 stars', {{ ratings[3.0]}}],
            ['4 stars', {{ ratings[4.0]}}],
            {
                name: '5 stars',
                y: {{ ratings[5.0]}},
            sliced: true,
            selected: false
            },
            
        ]
    }]
});

    </script>



    <script type="text/javascript">
        Highcharts.chart('container3', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Emotions of 1st 20 reviewers regarding the product'
            },
            subtitle: {
                text: 'Product: {{prod_name}}'
            },
            xAxis: {
                categories: [{% for x in names_cust %}
                "{{x}}",
                {% endfor %}
            ],
            crosshair: true
        },
            yAxis: {
            min: 0,
            max: 1,
            title: {
                text: 'Emotions in value'
            }
        },
            tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
            plotOptions: {

            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
            series: [{
                name: 'Sad',
                data: [
                    {% for x in sad %}
                {{ x }},
            {% endfor %}
        ]

        }, {
                name: 'Angry',
                data: [
                    {% for x in angry %}
                {{ x }},
            {% endfor %}
            ]

        }, {
                name: 'Happy',
                data: [
                    {% for x in happy %}
                {{ x }},
            {% endfor %}
            ]

        }, {
                name: 'Surprise',
                data: [{% for x in surprise %}
                {{ x }},
            {% endfor %}
            ]

        }, {
                name: 'Fear',
                data: [
                    {% for x in fear %}
                {{ x }},
            {% endfor %}
            ]

        }]
    });
    </script>

    <script type="text/javascript">
        
        var series = [
            {% for x in pos_words %}
                "{{x}}",
            {% endfor %}
        ];
var sortedWeights =  [
        {% for x in pos_vals %}
                {{x}},
            {% endfor %}
];

var result = series.map(function(word, i) {
  return {
    name: word,
    weight: sortedWeights[i]
  };
});



        Highcharts.chart('container4', {
            accessibility: {
                screenReaderSection: {
                    beforeChartFormat: '<h5>{chartTitle}</h5>' +
                        '<div>{chartSubtitle}</div>' +
                        '<div>{chartLongdesc}</div>' +
                        '<div>{viewTableButton}</div>'
                }
            },
            series: [{
                type: 'wordcloud',
                data: result,
                name: 'Occurrences'
            }],
            title: {
                text: 'Maximum words in positive reviews'
            }
        });
    </script>

    <script type="text/javascript">
        var series = [
            {% for x in neg_words %}
                "{{x}}",
            {% endfor %}
        ];
var sortedWeights =  [
        {% for x in neg_vals %}
                {{x}},
            {% endfor %}
];
var result = series.map(function(word, i) {
  return {
    name: word,
    weight: sortedWeights[i]
  };
});
        Highcharts.chart('container5', {
            accessibility: {
                screenReaderSection: {
                    beforeChartFormat: '<h5>{chartTitle}</h5>' +
                        '<div>{chartSubtitle}</div>' +
                        '<div>{chartLongdesc}</div>' +
                        '<div>{viewTableButton}</div>'
                }
            },
            series: [{
                type: 'wordcloud',
                data: result,
                name: 'Occurrences'
            }],
            title: {
                text: 'Maximum words in negative reviews'
            }
        });
    </script>

    <script type="text/javascript">
        var series = [
            {% for x in neu_words %}
                "{{x}}",
            {% endfor %}
        ];
var sortedWeights =  [
        {% for x in neu_vals %}
                {{x}},
            {% endfor %}
];

var result = series.map(function(word, i) {
  return {
    name: word,
    weight: sortedWeights[i]
  };
});



        Highcharts.chart('container6', {
            accessibility: {
                screenReaderSection: {
                    beforeChartFormat: '<h5>{chartTitle}</h5>' +
                        '<div>{chartSubtitle}</div>' +
                        '<div>{chartLongdesc}</div>' +
                        '<div>{viewTableButton}</div>'
                }
            },
            series: [{
                type: 'wordcloud',
                data: result,
                name: 'Occurrences'
            }],
            title: {
                text: 'Maximum words in neutral reviews'
            }
        });
    </script>














    <div style="background-color: #F1F1F1; position: absolute; left: 0; right: 0; top: auto; bottom: auto;">
<footer >
<p style="padding: 80px; margin-top: auto; text-align: center;">This is a web-app made by Floyd Fernandes. Learn more <a href="/about" style="color: black;"><b>about me!</b></a></p>
</footer>
</div>

    {% endblock %}